@charset "utf-8";

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

img {
  vertical-align: bottom;
}

a {
  display: inline-block;
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}

.header-inner{
  padding: 15px;
  box-sizing: border-box;
}

.header-inner__logo {
  float: left;
  color: #333;
}

.nav-toggle {
  display: none;
  float: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.nav-toggle__bar:after {
  display: block;
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 5px;
  background-color: #4e4e4e;
}

.nav-toggle__bar:first-child:after {
  margin-top: 0;
}

.header-inner__contact-btn {
  float: right;
  padding: 14px 12px;
  background-color:	#74cfae;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}

.header-inner__contact-btn:hover {
  color: #74cfae;
  background-color: #4e4e4e;
}

.main {
  margin-top: 78px;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title-inner__main-title {
  margin-bottom: 20px;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title-inner__sub-title {
  color: #c0c0c0;
  font-size: 30px;
}

.service-container {
  background-color: #74cfae;
  color: white;

}

.service-inner {
  padding: 50px 0 0 100px;
}

.service-image {
  float: left;
}

.service-about {
  float: right;
  width: 650px;
  text-align: center;
  line-height: 1.8em;
}

.service-about__heading {
  margin-bottom: 35px;
  font-size: 24px;
}

.service-about__summary {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.works-inner {
  padding: 60px 0 70px;
  text-align: center;
}

.works-heading {
  font-size: 24px;
}

.works-wrapper {
  margin-top: 40px;
  box-sizing: border-box;
}

.works-wrapper__work {
  float: left;
  margin: 80px 0 0 100px;
}

.works-wrapper__work:nth-child(-n+3) {
  margin-top: 0;
}

.works-wrapper__work:nth-child(3n-2) {
  margin-left: 0;
}

.works-wrapper__work__link {
  opacity: 0.7;
  transition: 0.3s;
}

.works-wrapper__work__link:hover {
  opacity: 1;
}

.work-request {
  width: 770px;
  margin: 90px auto 0;
  text-align: center;
}

.work-request__summary {
  float: left;
  width: 580px;
  line-height: 1.8em;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.work-request__email-btn {
  float: left;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}

.work-request__email-btn:hover {
  color: #74cfae;
  background-color: #4e4e4e;
}

.skills-container {
  background-color: #4e4e4e;
  color: white;
}

.skills-inner {
  padding: 70px 0 100px;
  text-align: center;
}

.skills-heading {
  margin-bottom: 70px;
  font-size: 24px;
}

.skills-wrapper {
  display: inline-block;
}

.skills-list {
  float: left;
  margin-left: 180px;
}

.skills-list:first-child {
  margin-left: 0;
}

.skills-list__skill {
  margin-top: 20px;
}

.sns-nav-container {
  text-align: center;
}

.sns-nav-inner {
  padding: 200px 0;
  letter-spacing: -1em;
}

.sns-nav-inner__btn {
  width: 185px;
  padding: 20px;
  box-sizing: border-box;
  color: #74cfae;
  letter-spacing: 0;
  transition: 0.3s;
}

.sns-nav-inner__btn:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer-inner__copyright {
  color: #fff;
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .service-inner {
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .service-image {
    float: none;
    margin: 0 auto;

  }

  .service-about {
    float: none;
    margin: 20px auto 0;
  }

  .works-wrapper__work {
    float: none;
    margin: 0;
  }
  
  .works-wrapper__work:nth-child(3n+1) {
    margin-top: 80px; 
  }

  .works-wrapper__work:first-child {
    margin-top: 0; 
  }


  .work-request {
    margin-top: 80px;
  }

  .work-request__summary {
    float: none;
    margin: 0 auto;
  }

  .work-request__email-btn {
    float: none;
    margin: 40px auto 0;
  }

  .skills-list {
    float: none;
    margin: 88px 0 0;
  }

  .skills-list:first-child {
    margin-top: 0;
  }

}

@media screen and (max-width: 766px) {

  .header-inner {
    position: relative;
  }

  .nav-toggle {
    display: inline-block;
  }

  .header-inner__contact-btn {
    display: none;
  }

  .nav-toggle.active + .header-inner__contact-btn {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -8px;
    width: 100vw;
    float: none;
  }

  .title-inner {
    padding: 160px 0 130px;
  }

  .title-inner__main-title {
    font-size: 80px;
  }

  .service-about {
    width: auto;
  }

  .work-request {
    width: auto;
  }

  .work-request__summary {
    width: auto;
  }

  .sns-nav-inner {
    padding: 50px 0;
  }

  .sns-nav-inner__btn {
    display: block;
    width: auto;
    margin: 0 auto;
  }
}
